body {
  min-width:960px;
  background:#f1f1f1;
  color: #333;
  font-size: 50px;
  height:auto;
  padding-bottom:20px;
  background-image:url(../img/footer.gif);
}

a {
  color: #4F2F4F;
  text-decoration: none;
  font-weight:bold;
}

a#nav {
  color:#FFF;
  font-size:25px;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-family: Helvetica, serif;
  font-weight: normal;
  padding-top: 20px;
  text-align: left;
  font-size:200px;
}

h2 {
  padding-top: 20px;
  text-align: left;
}

p {
  border: 1px solid #666;
  overflow: hidden;
  padding: 10px 0;
  text-align: left;
}

.container {
  margin-left:auto;
  width:100%;
}

.container1, .container2, .header, .cv , .container_border, .nav, .footer, .nav2, .nav_buffer,
.footer_left, .footer_right {
  float:left;
  display:inline;
  position:relative;
  /*border:1px solid #000000;*/
  margin-top:0px;
  margin-bottom:0px;
}

.container1 {
  min-height:700px;  /* Don't forget to change this to whatever I need */
  height:90%;
  width:100%;
}

* html .container1 {
  height:700px;
}

.container1, .header {
  color:#000000;
  height:90%;
}

.container1 {
  background-image:url(../img/header.gif);
}

.header {
  background-color:#c2c4ba;
  padding:40px;
  width:500px;
  
}

.nav {
  background-color:#663366;
  width:500px;
  height:40px;
  padding-top:10px;
  padding-left:40px;
  padding-right:40px;
  text-align:center;
}

.header_container {
  width:800px;
}

.container_border {
  background-image:url(../img/border.gif);
  background-color:#e9eae5;
  background-repeat:repeat-x;
  width:100%;
  height:25px;
}

.header {
  width:500px;
  height:300px;
}

.container2 {
  background-image:url(../img/footer.gif);
  background-repeat:repeat;
  height:1500px;
  width:100%;
}

.cv {
  width:960px;
  /*height:2000px;*/
}

.contentbox, .headerbox ,.spacerbox {
  margin:10px;
  width:220px;
  height:220px;
  float:left;
  display:inline;
  position:relative;
}

.contentbox {
  margin:9px;
  border:1px solid #000000;
  background-color:#000000;
}

.contentbox a {
color: #fff;
width: 220px;
height: 220px;
display: block;
text-decoration: none;
}

.contentbox a:hover {
background:#000;
opacity:.75;
filter:alpha(opacity=75);
}

.contentbox a span {
display: none;
width: 215px;
padding:5px;
}

.contentbox a:hover span {
display: block;
}

#bioreliance {
  background-image:url('../img/bioreliance.gif');
}

#michigan {
  background-image:url('../img/michigan.gif');
}

#epa {
  background-image:url('../img/epa.gif');
}

#wmbio {
  background-image:url('../img/wmbio.gif');
}

#wmit {
  background-image:url('../img/wmit.gif');
}

#nsu {
  background-image:url('../img/nsu.gif');
}

#umich {
  background-image:url('../img/michigan.gif');
}

#wm {
  background-image:url('../img/wm.gif');
}

#wmvsa {
  background-image:url('../img/wmvsa.gif');
}

#devbio {
  background-image:url('../img/devcel.gif');
}

#natcomm {
  background-image:url('../img/natcomm.gif');
}

.nav2 {
  width:960px;
  padding-top:30px;
  padding-bottom:20px;
  height:5px;
  
}

.nav_buffer {
  width:960px;
  height:20px;
  border-top:1px #ccc solid;
}

.top_buffer {
  width:100%;
  height:100px;
  float:left;
  display:inline;
  position:relative;
}

.left_buffer {
  height:100%;
  width:200px;
  float:left;
  display:inline;
  position:relative;
}

.footer {
  width:100%;
  height:100px;
  background-color:#663366;
  border-top:1px solid #000;
  text-align:left;
}

.footer a {
  color:#fff;
}

.footer p {
  color:#fff;
}