body {
    padding-top:0px; /* 60px to make the container go all the way to the bottom of the topbar */
    background-color:#eee;
  }
  
  .masthead {
    background-color:#8C001A;
    height:500px;
    margin-top:0px;
  }
  
  .masthead .container {
    background-image:url('../images/usrma/bokeh-dojo-red.v2.jpg');
    background-size:100%;
    background-repeat:no-repeat;
    height:500px;
  }
  
  .masthead h1{
    font-size:75px;
    text-align:left;
    color:#eee;
    padding-top:100px;
  }
  
  .masthead p{
    padding-top:30px;
    font-size:20px;
    text-align:left;
    color:#eee;
  }
  
  .menu {
    height:40px;
    padding-top:5px;
  }
  
  .navlinks {
    text-align:right;
  }

  .logo {
    padding-top:10px;
    font-size:20px;
    background-image:url('../images/usrma/logo.png');
    background-repeat:no-repeat;
    height:30px;
    background-size:contain;
  }
  
  .logo p{
    display:none;
  }
  .content-area {
    padding-top:20px;
  }
  

  .middle {
    border-left:solid 1px #000000;
    border-right:solid 1px #000000; 
  }
  
  .footer-area {
    background-color:#ddd;
    height:100px;
  }