body {
    padding-top:0px; /* 60px to make the container go all the way to the bottom of the topbar */
    background-color:#eee;
  }
  
  .masthead {
    background-color:#336699;
    height:500px;
    height:600px\9;
    margin-top:0px;
  }
  
  .masthead .container {
    background-image:url('../images/usrma/bokeh-dojo-red.v2.jpg');
    background-image:none\9;
    background-size:100%;
    background-repeat:no-repeat;
    height:500px;
  }
  
  .masthead h1{
    font-size:75px;
    text-align:left;
    color:#eee;
    padding-top:100px;
  }
  
  .masthead p{
    padding-top:30px;
    font-size:20px;
    text-align:left;
    color:#eee;
  }
  
  .menu {
    height:40px;
    padding-top:5px;
    padding-bottom:30px;
  }
  
  .navlinks {
    text-align:right;
  }
  
  .nav-pills > li > a:hover {
    color: #ffffff;
    background-color: #0088cc;
  }
  
  .nav-pills {
    font-size:1.2em;
  }
  
  .sign-up-lead {
    margin-bottom:0;
    padding-bottom:0;
    color:white;
    font-size:1.5em;
  }

  .logo {
    padding-top:10px;
    font-size:20px;
    background-image:url('../images/usrma/logo.png');
    background-image:none\9;
    background-repeat:no-repeat;
    height:30px;
    background-size:contain;
  }
  
  .logo p{
    display:none;
    display: block\9;
  }
  .content-area {
    padding-top:20px;
    
    padding-bottom:150px;
  }
  

  .middle {
    border-left:solid 1px #000000;
    border-right:solid 1px #000000; 
  }
  
  .footer-area {
    background-color:#ddd;
  }
  
  .footer {
    position:relative;
    margin-height:-150px;
    height:150px;
    clear:both;
    padding-top:20px;
    background-color:#ddd;
  }
  
  #wrap {
    min-height:100%;
  }
  
  .sign-up {
    background: rgba(0, 0, 0, 0.4);
    background:none\9;
    width:60%;
    padding-bottom:0px;
    margin-bottom:0px;
  }
  
  .input-age {
    width:2em;
  }
  
  .input-phone {
    width:8em;
  }
  
